<a href="https://colab.research.google.com/github/audtla22/-/blob/master/4_13_homework_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Your first pop quiz...
#Q1-Write your code below and press Shif+enter to execute 

print("Hello World!!!")


#pop quiz #2
#2-1 write your code below about "what is the data type of the result 6/2?"
#2-1 write your code below about "what is the data type of the result 6//2?"
a=type(6/2)
b=type(6//2)
print(a)
print(b)
Total_Min=1300 # the variable Toatl_Min is initialized with 1,300 , you don't need to 
Total_Hour=Total_Min/60
#Pop_Quiz #3
Total_Time_reprenting="Hour:"+str(int(Total_Hour))+"Min:"+str(int(Total_Min%60))
print(Total_Time_reprenting)
#1300 mins to convert into Total_Hour and the remaining goes into Minutes
#write a code to read the total min (e.g,1300) to the right representing the hour, and the minute separately.

Hello World!!!
<class 'float'>
<class 'int'>
Hour:21Min:40