<a href="https://colab.research.google.com/github/audtla22/-/blob/master/4_27_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
df.iloc[0,0]

'Michael Jackson'

In [3]:
df.iloc[0:2]

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller      1982  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black      1980  ...  25-Jul-80        NaN     9.5

[2 rows x 10 columns]

In [4]:
df.iloc[0:2,0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [5]:
df.iloc[0,1]

'Thriller'

In [6]:
df.iloc[0][1]

'Thriller'

In [7]:
df.iloc[1,1]

'Back in Black'

In [8]:
df.loc[0, 'Artist']

'Michael Jackson'

In [9]:
df.loc[5, 'Artist']

'Eagles'

In [10]:
df.loc[0:2, 'Genre']

0      pop, rock, R&B
1           hard rock
2    progressive rock
Name: Genre, dtype: object

In [11]:
df.loc[0:2, 'Artist']

0    Michael Jackson
1              AC/DC
2         Pink Floyd
Name: Artist, dtype: object

In [39]:
filter1 = df["Released"]>1979
filter2 = df["Music Recording Sales (millions)"]>24
df1=df.where(filter1 & filter2)
df1

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

In [0]:
# from your own small database, find if their "Genre" includes "Rock"?

In [57]:
df1[df1['Genre']=='hard rock'] 
df['Genre'].isin(['hard rock'])
df[df['Genre'].isin(['hard rock'])]
df1['Genre'].str.contains("rock") #4번이 조금더 일반적

0     True
1     True
2      NaN
3    False
4      NaN
5      NaN
6      NaN
7      NaN
Name: Genre, dtype: object